<h2 class="xx-page-header">Title: <%= @article.title %></h2>
<div class="row xx-post-sp">
  <div class="col-sm-8 offset-sm-2">
    <div class="card">
      <div class="card-header text-center xx-form-label">
        <strong>Description:</strong>
      </div>
      <div class="card-body">
        <div class="card-text">
          <%= simple_format(@article.description) %>
        </div>
      </div>
    </div>
    <div class="article-actions center">
      <%= link_to "Edit", edit_article_path(@article), class: "btn btn-sm btn-info btn-primary" %>
      <%= link_to "Delete", articles_path, method: :delete,
                        data: { confirm: "Are you sure you want to delete the article?" },
                        class: "btn btn-sm btn-danger" %>
      <%= link_to "View All", articles_path, class: "btn btn-sm btn-info" %>
    </div>
  </div>
</div>
